/*
* Code written by: Jason You 
*/
.slider {
    position: relative;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  .header {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -240%;
    font-size: 1.5rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .counter {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -200%;
    font-size: 1.5rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .right-arrow {
    position: absolute;
    top: 40%;
    right: 0px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .left-arrow {
    position: absolute;
    top: 40%;
    left: 0px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  