/*
* Code written by: Jason You 
*/
.player-wrapper {
  width: auto; 
  height: auto; 
}
.react-player {
  padding-top: 56.25%; 
  position: relative;
}

.react-player > div {
  position: absolute; 
  top: 0;
left: 0;
width: 100%;
height: 100%;
} 
  @media screen and (max-width: 900px) {
    .Experience {
        position: relative;
        display: flex;
        flex-direction: column;
        position: absolute;
    }
  }
